.menu {
    text-decoration: none;
    width: 20%;
    padding-right: 3%;
}

.row {
    padding-top: 3px;
    padding-left: 20px;
    padding-right: 0px;
    margin-right: 0px;
    background-color: #F2F2F2;
    width: 100%;
}

.five {
    width: 100%;
    padding-bottom: 4px;
    text-align: center;
}

.title {
    width: 100%;
    background-color: #94DCF8;
    padding-top: 1px;
    padding-bottom: 1px;
}

a:hover {
    background-color: aquamarine;
}

a:active {
    background-color: red;
}

.white {
    color: white;
}

.active {
    background-color: black;
}